header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    padding: 0 0.5rem;

    div:last-child
    {
        display: flex;
        justify-content: space-between;

        img:first-child
        {
            border-radius: 50%;
            width: 3.5rem;
            height: 3.5rem;
            margin-right: 1rem;
            position: relative;

        }

        img:last-child
        {
            width: 2.5rem;
            height: 2.5rem;
            position: relative;
            top: 0.6rem;
        }

    }
}