.side-bar-search
{
    margin-top: 2.5rem;

    input
    {
        border-radius: 0.5rem;
        margin-bottom: 1rem;
        padding-left: 0.5rem;
    }

    p
    {
        padding-left: 00.5rem;
    }
}